.form-changePassword{
	margin-top: 30px;
}

.btn-changePassword{
	margin-top:30px;
}

.form-tip{
	display: block;
	color: red;
	margin-top:5px;
	margin-bottom: -10px;
	padding-left: 2px;
}